{{ $name := .Get "name" }}
{{ $remoteFilePath := $name | print "/graphs/" }}
{{ $graphFilePath := print "/tesserakt-bench-graphs" $remoteFilePath "/graph.png" }}

{{ $queryPath := print $remoteFilePath "/query.rq" }}
{{ $query := resources.Get $queryPath }}
{{ $lang := "sparql" }}

<hr></hr>

{{ $name | print "### " | markdownify }}

<div style="display: flex; align-items: self-start;">

  <!-- width="80%"
  style="margin: auto; display: block;" -->


<img
  src="{{ $graphFilePath }}"
  alt="{{ $remoteFilePath }}"
  position="center"
  caption="{{ $remoteFilePath }}"
  captionPosition="center">
</img>

<div style="margin-left: 20px; margin-top: 5px; margin-bottom: 5px; width: 30%;">
<!-- Snippet from terminal theme, `code.html` shortcode -->
<details class="collapsable-code" open>
  <summary title="Click to interact">
      <span class="collapsable-code__title">{{ "Query" | markdownify }}</span>
  </summary>
  {{- transform.Highlight $query.Content $lang -}}
</details>
<details class="collapsable-code" open>
    <summary title="Click to interact">
        <span class="collapsable-code__title">Query changes w.r.t. transform ratio</span>
    </summary>
  {{ partial "report-overview.html" (dict "graph" $name) }}
</details>
</div>

</div>

<hr></hr>
